@model List<OGMS.Models.TaxModels.HighCostTotals>

<div class="well">
    <h4>High cost Search Results</h4>

    <table class="table table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th>
                    Taxpayer
                </th>
                <th>
                    Operator
                </th>
                <th>
                    Lease
                </th>
                <th>
                    High Cost Refund Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var LowProProdResults in Model)
            {
                <tr>
                    <td>
                        (@LowProProdResults.TaxpayerNumber) - @LowProProdResults.TaxpayerName
                    </td>
                    <td>
                        (@LowProProdResults.OperatorId) - @LowProProdResults.OperatorName
                    </td>
                    <td>
                        (@LowProProdResults.LeaseNumber) - @LowProProdResults.LeaseName
                    </td>
                    <td>
                        @LowProProdResults.HighCostTotal
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

